<div class="rootContainer" [hidden]="captured">
  <ack-webcam [(ref)]="webcam" [options]="options" (onSuccess)="onCamSuccess($event)" (onError)="onCamError($event)"></ack-webcam>
</div>
<div class="rootContainer" *ngIf="webcam" [hidden]="captured">
  <button md-button class="button" (click)="captureImage()">Capture</button>
</div>
<img [hidden]="!captured" *ngIf="!similarFaces" class="imgContainer" src="{{base64}}">
<div class="rootContainer" [hidden]="!captured" *ngIf="!similarFaces">
  <button md-button class="button" (click)="retakeImage()">Retake</button>
  <button md-button class="button" (click)="fetchSimilarFaces()">Submit</button>
</div>
<div class="rootContainer" *ngIf="similarFaces">
  <button md-button class="button" (click)="showResults()">Show Results</button>
</div>
<div style="overflow-y: scroll; height:100%;" *ngIf="showMatches">
<div class="cards" *ngFor="let match of matches"> 
  <div class="card">
    <div class="col">
    <div class="row"> 
      <img class="img-avatar" src="{{match.url}}" alt="Image not found">
      <div class="card-detail">
          <h1>{{match.firstName}} {{match.lastName}}</h1>
          <div class="row">
            <h2>Position:</h2>
            <h3>{{match.position}}</h3>
          </div>
          <p>Company: {{match.company}}</p>
      </div>
      <div class="card-status">
          <div class="status-container">
              <h4> Match Percentage </h4>
              <md-progress-spinner class="progress-bar"
              [strokeWidth]="3"
              [color]="color"
              [mode]="mode"
              [value]="match.confidence">
              </md-progress-spinner>
            <div class="status-percentage">
              <h3> {{match.confidence}}% </h3>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>